@font-face {
  font-family: 'Roboto';
  src: url('@/assets/fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.min-height{
  min-height: 100vh;
  overflow: hidden;
}
.height-full {
  height: 100%
}
.height-screen {
  height:100vh;
}
.flex-direction-column {
  flex-direction: column;
}
.justify-self-center {
  justify-self: center;
}

.text-concat {
  position: relative;
  display: inline-block;
  word-wrap: break-word;
  overflow: hidden;
  max-width:382px;
  min-height: 56px; 
  max-height: 56px;
  text-align:justify;
}
@media only screen and (max-width: 400px) {
  
.title-text {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: left;
}
.text-button {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}
.info-text {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: center;
}
}
@media only screen and (min-width: 768px) {
  .title-text {
    font-family: Roboto;
    font-size: 30px;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;
  }
  .text-button {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
  }
  .info-text {
    font-family: Roboto;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
  }
  }
.text-description {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}



.text-search {
  font-family: Roboto;
font-size: 16px;
font-weight: 500;
line-height: 19px;
letter-spacing: 0em;
text-align: left;

}
.text-caption {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
  color: #bbbdd0;
}

.text-small {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 700;
  line-height: 12px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
}



.card {
  padding: 16px;
  border-radius: 5px;
  border: 1px solid #dde2ff;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  z-index: -1;

}

.chip {
  inline-size: 382px;
  overflow-wrap: break-word;
  width: auto;
  height: auto;
  background: #7a8dfd;
  border-radius: 5px;
  padding: 5px 12px;
  padding-top:5px;
  text-align: center;
}
.width-full {
  width: 100%
}
.flex-box {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.align-self-center {
  align-self: center;
}
.align-content-space-between {
 align-content: space-between
}
textarea {
  border: 3px solid #d1d8ff;
  border-radius: 5px;
  height:80px;
}

.text-small {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 700;
  line-height: 14.06px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
}

.text-done {
  color: #0bc375;
  text-decoration-line: line-through;
}

.margin-top-2 {
  margin-top: 8px;
}

.margin-top-8 {
  margin-top: 32px;
}

.margin-top-7 {
  margin-top: 28px;
}
.margin-left-7 {
  margin-left: 28px;
}


.margin-bottom-6 {
  margin-bottom: 24px;
}

.margin-bottom-9 {
  margin-bottom: 36px;
}

.margin-top-3 {
  margin-top: 12px;
}

.margin-left-5 {
  margin-left: 20px;
}

.margin-right-5 {
  margin-right: 20px;
}

.margin-right-1 {
  margin-right: 4px;
}
.relative-position {
  position: relative;
}
 .success {
  position:absolute;
  height: 55px;
  background-color: #0BC475;
  top:90px;
  left:0px;
  right:0px;
  border-radius: 5px;
}
.error {
  position:absolute;
  height: 55px;
  background-color: #E85F5F;
  top:90px;
  left:0px;
  right:0px;
  border-radius: 5px;
}
<<<<<<< HEAD
 .success {
  position:absolute;
  height: 55px;
  top:90px;
  left:0px;
  right:0px;
  border-radius: 5px;
  background-color: #0BC475;
}
.error {
  position:absolute;
  height: 55px;
  top:90px;
  left:0px;
  right:0px;
  border-radius: 5px;
  background-color: #E85F5F;
}
=======
>>>>>>> parent of 5534b5c (Merge branch 'features/styleTaskList' into features/integrateSupabase)
.swal-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  margin:0px;
  color:White
}
.swal-text:last-child {
  margin-bottom:15px ;
}

.swal-text:first-child {
  margin-top:15px ;
}
.swal-overlay {
  background-color: transparent;
}

